<html>
<head>
	<link rel="stylesheet/less" href="{{MEDIA_URL}}stylesheets/bootstrap.less" type="text/css"/> 
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>
	<script src="{{MEDIA_URL}}js/less-1.1.3.min.js"></script>	
	<script src="{{MEDIA_URL}}js/bootstrap-modal.js"></script>
	<script src="{{MEDIA_URL}}js/bootstrap-dropdown.js"></script>
	<script src="{{MEDIA_URL}}js/bootstrap-twipsy.js"></script>
	<script src="{{MEDIA_URL}}js/bootstrap-scrollspy.js"></script>
	<style>
		.content {
			padding-top: 60px;
		}
	</style>
</head>
<body style="background-color:#CCC;">
	<div class="container">
	<section id="navigation">
	<div class="topbar-wrapper" style="z-index: 5;">
	    <div class="topbar" data-dropdown="dropdown">
	      <div class="topbar-inner">
	        <div class="container">
	          <h3><a href="#">Project Name</a></h3>
	          <ul class="nav">
	            <li class="active"><a href="/">Home</a></li>
	            <li><a href="#">Contacts</a></li>
	            <li class="dropdown">
	              <a href="#" class="dropdown-toggle"></a>
	              <ul class="dropdown-menu">
	                <li><a href="#">Manage</a></li>
	                <li><a href="#">Something else here</a></li>
	                <li class="divider"></li>
	                <li><a href="#">Another link</a></li>
	              </ul>
	            </li>
	          </ul>
	          <ul class="nav secondary-nav">
	  
			  {% if user.is_authenticated %}
			  <li class="dropdown">
	              <a href="#" class="dropdown-toggle">Account</a>
	              <ul class="dropdown-menu">
	                <li><a href="/accounts/profile/">Profile</a></li>
	                <li class="divider"></li>
	                <li><a href="/logout/">Logout</a></li>
	              </ul>
				  </li>
				{% else %}
          <div id="modal-from-dom" class="modal hide fade">
            <div class="modal-header">
              <a href="#" class="close">&times;</a>
              <h3>Modal Heading</h3>
            </div>
            <div class="modal-body">
              <p>One fine body…</p>
            </div>
            <div class="modal-footer">
              <a href="#" class="btn primary">Primary</a>
              <a href="#" class="btn secondary">Secondary</a>
            </div>
          </div>
          <div id="modal-from-dom" class="modal hide fade">
            <div class="modal-header">
              <a href="#" class="close">&times;</a>
              <h3>Modal Heading</h3>
            </div>
            <div class="modal-body">
              <p>One fine body…</p>
            </div>
            <div class="modal-footer">
              <a href="#" class="btn primary">Primary</a>
              <a href="#" class="btn secondary">Secondary</a>
            </div>
          </div>
          <div id="modal-from-dom" class="modal hide fade">
            <div class="modal-header">
              <a href="#" class="close">&times;</a>
              <h3>Login with any service below</h3>
            </div>
            <div class="modal-body">
              <p></p>
            </div>
          </div>
          <div id="my-modal" class="modal hide fade">
            <div class="modal-header">
              <a href="#" class="close">&times;</a>
              <h3>Login with a service below</h3>
            </div>
            <div class="modal-body">
				<a href="/login/twitter/">Twitter</a> | 
				<a href="/login/facebook/">Facebook</a> | 
				<a href="/login/linkedin/">LinkedIn</a> |
				<a href="/google/login/">Google</a>
            </div>
          </div>
				<li><a data-controls-modal="my-modal" data-backdrop="static" >Login</a></li>
				{% endif %}
	          </ul>
	        </div>
	      </div><!-- /topbar-inner -->
	    </div><!-- /topbar -->
	  </div>
	</section>
	<div class="content">
	{% block body %}
	{% endblock %}
	</div>
  </div>  
</body>
</html>
